<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
</head>

<body>
    <div class="container-lg px-3 my-5 markdown-body">
        <h1><a title="Home Page" href="/">cd ~</a>{,<a title="About" href="/about_us/">/about/</a>,<a title="BBS" href="https://bbs.mustlug.org">/bbs/</a>}</h1>
                {{ content }}
                <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
                    &copy 2023 - {{ "now" | date: '%Y' }} MUSTLUG<br>
                    <a href="https://creativecommons.org/licenses/by-nc/4.0/"
                        title="Attribution-NonCommercial 4.0 International" target="_blank">CC BY-NC 4.0</a><br>
                </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
        integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
</body>

</html>
