---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
export async function getStaticPaths() {
  const events = await getCollection('events');
  return events.map((item) => ({
    params: { slug: item.slug },
    props: { events: item },
  }));
}

const { events } = Astro.props;
const { Content } = await render(events);
---

<Layout>
  <h1>{events.data.title}</h1>
  <i>{events.data.date.toDateString()}</i>
  <Content />
</Layout>
